<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" />

    <style>
        tbody tr{
            height: 60px;
        }
        tr .layui-table-cell{
            text-align: center;
        }
    </style>
</head>


<body>
<div class="layui-fluid" style="margin-top: 10px;">
    <!--将栅格或其它元素放入一个带有 class="layui-fluid" 的容器中，那么宽度将不会固定，而是 100% 适应-->
    <div class="layui-row">
        <!--采用 layui-row 来定义行-->
        <div class="layui-col-md12">
            <form class="layui-form" lay-filter="searchTypeForm" style="display: inline-block">
                <!--filter 为 class="layui-form" 所在元素的 lay-filter="" 的值。你可以借助该参数，对表单完成区域渲染。-->
                <div class="layui-form-item">
                    <!--layui-form-item为表单中的每一项 -->
                    <div class="layui-inline">
                        <!--layui-inline表示行内元素-->
                        <label class="layui-form-label">商品名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="productName" lay-verify="title" autocomplete="off"
                                   placeholder="请输入商品名称" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                        <input type="text" name="productType" lay-verify="title" autocomplete="off"
                               placeholder="请输入商品类型" class="layui-input">
                        </div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="searchBtn" type="button" class="layui-btn layui-btn-normal">
                            <i class="fa fa-search"></i>
                            搜索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button id="addProduct" type="button" class="layui-btn">
                            <i class="fa fa-plus"></i>
                            添加商品
                        </button>
                    </div>
                </div>

            </form>
            <table id="productList" lay-filter="test"></table>
        </div>
    </div>
</div>
<!-- “ 操作 ” 这一列的模板代码 -->
<script type="text/html" id="opration">
    <div>
        <button type="button" class="layui-btn layui-btn-warm layui-btn-sm" lay-event="updateType">
            <i class="fa fa-pencil"></i>
            编辑
        </button>
        <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteType">
            <i class="fa fa-trash"></i>
            删除
        </button>
    </div>
</script>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['form','table','layer'],function (){
        var table=layui.table;
        var form=layui.form;
        var layer=layui.layer;
        var $=layui.$;

        var options=
            {
                // 指定table元素
                elem: '#productList',
                // 数据接口（ajax）
                url: '/product/getProduct',
                //开启分页
                page: true,
                // 表头设置
                cols: [[
                    {field: 'id', title: 'ID', width:100, sort: true},
                    {field: 'pimageurl', title: '产品图片', width:80, templet: function (d) {
                            // d是表格相关的信息（携带了responseData的属性data字段里面的一条数据）,由laiyi给出。每次生成是每行每行的生成
                            return '<img width="100%" height="100%" src="'+ d.pimageurl +'">';
                        }
                    },
                    {field: 'pname', title: '产品名称', width:150},
                    {field: 'type.typeName', title: '产品类型', width:150,templet:function (d){
                        return ''+d.type.typeName+'';
                        }
                    },
                    {field: 'tprice', title: '产品价格', width:100, sort: true},
                    {field: 'tintroduce', title: '产品描述', width:150},
                    {field: 'pdiscount', title: '折扣', width:100},
                    {field: 'tState', title: '是否为热饮', width:110, templet: function (d) {
                            if ( d.photstate == 1 ){
                                return '<input type="checkbox" checked="" lay-skin="switch" lay-filter="switchHotStatsBtn" lay-text="是|否">';
                            }else{
                                return '<input type="checkbox" lay-skin="switch" lay-filter="switchHotStatsBtn" lay-text="是|否">';
                            }
                        }
                    },
                    {field: 'tState', title: '状态', width:110, templet: function (d) {
                            if ( d.pstate == 1 ){
                                return '<input type="checkbox" checked="" lay-skin="switch" lay-filter="switchStatsBtn" lay-text="已启用|已禁用">';
                            }else{
                                return '<input type="checkbox" lay-skin="switch" lay-filter="switchStatsBtn" lay-text="已启用|已禁用">';
                            }
                        }
                    },
                    {title: '操作', width:200, templet: '#opration'},
                ]]
            };
        table.render(options);
        //搜索按钮
        $('#searchBtn').on('click', function(){
            form.submit('searchTypeForm', function(data){
                console.log(data.field)
                // data：包含了表单的各种数据
                // data.field：是表单中所有input元素的数据
                let $price_min=data.field.price_min;
                let $price_max=data.field.price_max;
                let $productName = data.field.productName;
                let $productType = data.field.productType;
                if($productName!=''||$productType!=''||$price_min!=''||$price_max!=''){
                    options.url='/product/getProduct?productName='+$productName+'&productType='+$productType+'&price_min='+$price_min+'&price_max='+$price_max;
                }
                else {
                    layer.msg("请输入商品类型");
                    //重置url
                    options.url='/product/getProduct';
                }
                //重载表格，显示数据
                //这里的test是49行layui过滤器的名字
                //设置当前页
                //Page属性为boolean类型时表示是否开启分页，
                // 若page属性值为一个对象，page属性就是分页参数，
                // 其中curr表示当前页，会直接影响layui发送给服务器的参数page
                options.page= {curr:1};
                table.reload('productList',options);
            });
        });

        // 添加商品按钮
        $('#addProduct').on('click', function () {
            // 开启弹出层
            layer.open({
                title: '<h3><strong>添加商品</strong></h3>',
                type: 2,
                area: ['50%','70%'],//宽高
                content: 'addProduct.html',
                // success:function (layero, index){
                //     $.post("/type/getType",function (d){
                //         console.log(d);
                //         var body = layer.getChildFrame('body', index);
                //     });
                // },
                end: function () {  // 弹出层正常关闭后要执行的函数
                    // 刷新table
                    table.reload('productList');
                }
            });
        });

        //指定状态开关事件
        form.on('switch(switchStatsBtn)', function(){
            // 一、获取开关按钮的状态
            //开关开着就是true,开关关着就是false
            let $btnState = this.checked ? 1 : 0;
            // 二、获取id
            let $tdOfId = $(this).parent().parent().siblings()[0];
            let $id = $tdOfId.innerText;
            // 三、使用Ajax发送请求
            $.post("/product/updateProductState",{id:$id, productState:$btnState}, function (d) {
                //这里的d是未经处理的responseData数据，由我们自己给出
                if(d.code == "0"){
                    //layer.msg("修改成功！");
                    if($btnState){
                        layer.msg("已启用");
                        //重载表格中当前页的数据
                        table.reload('productList');
                    }
                    else {
                        layer.msg("已禁用");
                        table.reload('productList');
                    }

                }else{
                    layer.msg(d.code+": "+d.msg);
                }
                options.url='/product/getProduct';
                table.reload('productList',options);
            });
        });

        //指定热饮开关事件
        form.on('switch(switchHotStatsBtn)', function(){
            // 一、获取开关按钮的状态
            //开关开着就是true,开关关着就是false
            let $btnState = this.checked ? 1 : 0;
            // 二、获取id
            let $tdOfId = $(this).parent().parent().siblings()[0];
            let $id = $tdOfId.innerText;
            // 三、使用Ajax发送请求
            $.post("/product/updateProductHotState",{id:$id, productHotState:$btnState}, function (d) {
                //这里的d是未经处理的responseData数据，由我们自己给出
                if(d.code == "0"){
                    //layer.msg("修改成功！");
                    if($btnState){
                        layer.msg("是");
                        //重载表格中当前页的数据
                        table.reload('productList');
                    }
                    else {
                        layer.msg("否");
                        table.reload('productList');
                    }

                }else{
                    layer.msg(d.code+": "+d.msg);
                }
                options.url='/product/getProduct';
                table.reload('productList',options);
            });
        });

        // 绑定当前行的事件（用于修改按钮和删除按钮）
        table.on('tool(test)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得元素的 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            // 判断点击的是哪个按钮
            if(obj.event === 'deleteType'){
                if(data.pstate==1){
                    layer.msg("请先禁用，再操作");
                    return;
                }
                // 删除按钮的事件
                // 通知栏提示
                layer.confirm('确定删除？？？', function(index){
                    let $id = data.id;

                    $.post("/product/delProduct",{id:$id}, function (d) {
                        if ( d.code == '0' ){
                            layer.msg('删除成功！');
                            // 调用layUI的del()函数删除这一行
                            // 这只是在页面上删除一个元素，并不是真正的删除
                            obj.del();
                            //获取tbody当中所有的tr元素
                            let $trs=$('tbody tr');
                            //当tbody中没有数据的时候，则显示当前页-1
                            if($trs.length==0)
                            {
                                //获取当前页
                                let $curr=$('.layui-laypage-curr em:nth-child(2)').text();
                                //重置当前页
                                options.page={curr:$curr-1};
                                //重载表格
                                table.reload('productList',options);//当改变options对象中的值，需要加上options。重载整张表（表结构、表中的数据、分页等）
                            }
                            else{
                                //获取当前页
                                //重置当前页
                                table.reload('productList');//当未改变options对象中的值，不需要加上options。仅重载当前页的数据
                            }
                        }else{
                            layer.msg(d.code +'：'+ d.msg);
                        }
                    });
                });
            } else if(obj.event === 'updateType'){
                if(data.pstate==1){
                    layer.msg("请先禁用，再操作");
                    return;
                }
                // 开启弹出层
                layer.open({
                    title: '<h3><strong>编辑商品</strong></h3>',
                    type: 2,
                    area: ['40%','50%'],
                    content: 'updateProduct.html',
                    success: function(layero, index){
                        console.log(data);
                        var body = layer.getChildFrame('body', index);
                        body.find("#ProductName").val(data.pname);
                        body.find("#discount").val(data.pdiscount);
                        body.find("#description").val(data.tintroduce);
                        body.find("#price").val(data.tprice);
                        body.find("#productId").val(data.id);
                        body.find("#imageUrl").val(data.pimageurl);

                        let $option = body.find("#typeId option");
                        for ( let i = 0; i < $option.length; i++ ){
                            if ( $option[i].value == data.typeid ){
                                console.log($option[i].value);
                                $option[i].selected = 'selected';
                            }
                        }
                        let updateWin=layero.find('iframe')[0].contentWindow;
                        updateWin.layui.form.render("select");
                    },
                    end: function () {  // 弹出层正常关闭后要执行的函数
                        console.log("编辑商品类型的弹出层关闭了！")
                        // 刷新table
                        table.reload('productList');
                    }
                });
            }
        });
    });

</script>








</body>


</html>