<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品类型</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>


<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md8">
                <form class="layui-form" lay-filter="updateTypeForm" style="margin-top: 20px">
                    <div class="layui-form-item">
                        <label class="layui-form-label">类型名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="typeName" lay-verify="title" autocomplete="off"
                                   placeholder="请输入类型名称" class="layui-input" style="width: 300px">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">选择图片：</label>
                        <div class="layui-input-block">
                            <img src="/images/typeImg/t1.png" width="60px" height="60px">
                            <input type="radio" name="imageName" value="t1" checked>

                            <img src="/images/typeImg/t2.png" width="60px" height="60px">
                            <input type="radio" name="imageName" value="t2">

                            <img src="/images/typeImg/t3.png" width="60px" height="60px">
                            <input type="radio" name="imageName" value="t3">

                            <br><br>

                            <img src="/images/typeImg/t4.png" width="60px" height="60px">
                            <input type="radio" name="imageName" value="t4">

                            <img src="/images/typeImg/t5.png" width="60px" height="60px">
                            <input type="radio" name="imageName" value="t5">

                            <img src="/images/typeImg/t6.png" width="60px" height="60px">
                            <input type="radio" name="imageName" value="t6">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        注：商品类型在添加时，默认是不开启的，若要开启，请使用列表中的开关。
                    </div>
                    <hr>

                    <div class="layui-form-item" style="float: right">
                        <div class="layui-input-block">
                            <button type="reset" class="layui-btn">重置</button>
                            <button type="button" id="updateBtn" class="layui-btn layui-btn-warm">提交</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <script src="/layui/layui.js"></script>
        <script>
            layui.use(['form','layer'], function(){
                var form = layui.form;
                var layer = layui.layer;
                var $ = layui.$;

                //方法提交(提交按钮的点击事件)
                $('#updateBtn').on('click', function(){
                    //这里会获取上面form表单元素中所有的值
                    form.submit('updateTypeForm', function(data){
                        // data：包含了表单的各种数据
                        // data.field：是表单中所有input元素的数据
                        let $typeName = data.field.typeName;
                        let $imageName = data.field.imageName;
                        // 使用Ajax发送数据
                        $.post("/type/addType",{typeName:$typeName,imageName:$imageName},function(d){
                            //关闭当前的iframe弹出层
                            console.log(d);
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                            //d:服务器响应的数据
                            if(d.code == "0"){
                                //给出提示框
                                //close函数会销毁指定的弹出层的layer对象
                                //在这里当前iframe弹出层的layer对象被销毁，所以不能使用当前弹出层的layer对象做提示框。
                                //所以在这里使用父层的layer对象给出提示框
                                parent.layer.msg("添加成功");
                            }else{
                                layer.msg(d.code+": "+d.msg);
                            }
                        });
                    });
                });
            });
        </script>
    </div>
</body>
</html>