<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改商品类型</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
    <div class="layui-container">
<!--将栅格放入一个带有 class="layui-container" 的特定的容器中，以便在小屏幕以上的设备中固定宽度，让列可控。-->
        <div class="layui-row">
            <div class="layui-col-md8">
                <form class="layui-form" lay-filter="updateTypeForm" style="margin-top: 20px">
                    <!--这是一个隐藏域，用于接收父层传递过来的id值-->
                    <input type="hidden" name="id" id="typeId">

                    <div class="layui-form-item">
                        <label class="layui-form-label">类型名称：</label>
                        <div class="layui-input-block">
                            <input id="typeName" type="text" name="typeName" lay-verify="title" autocomplete="off"
                                   placeholder="请输入类型名称" class="layui-input" style="width: 300px">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">修改图片：</label>
                        <div class="layui-input-block">
                            <img src="/images/typeImg/t1.png" width="60px" height="60px">
                            <input class="typeImage" type="radio" name="imageName" value="t1">

                            <img src="/images/typeImg/t2.png" width="60px" height="60px">
                            <input class="typeImage" type="radio" name="imageName" value="t2">

                            <img src="/images/typeImg/t3.png" width="60px" height="60px">
                            <input class="typeImage" type="radio" name="imageName" value="t3">

                            <br><br>

                            <img src="/images/typeImg/t4.png" width="60px" height="60px">
                            <input class="typeImage" type="radio" name="imageName" value="t4">

                            <img src="/images/typeImg/t5.png" width="60px" height="60px">
                            <input class="typeImage" type="radio" name="imageName" value="t5">

                            <img src="/images/typeImg/t6.png" width="60px" height="60px">
                            <input class="typeImage" type="radio" name="imageName" value="t6">
                        </div>
                    </div>
                    <div>
                        <span>注：在修改数据的时候，开关默认处于禁用状态，修改完成之后，请手动开启</span>
                    </div>
                    <hr>
                    <div class="layui-form-item" style="float: right">
                        <div class="layui-input-block">
                            <button type="reset" class="layui-btn">重置</button>
                            <button type="button" id="updateBtn" class="layui-btn layui-btn-warm">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="/layui/layui.js"></script>
        <script>
            layui.use('form', function(){
                var form = layui.form;
                var $ = layui.$;

                //方法提交
                $('#updateBtn').on('click', function(){
                    // 数据回显

                    // 提交数据
                    form.submit('updateTypeForm', function(data){
                        // data是表单中的数据
                        console.log(data.field);
                        let $id=data.field.id;
                        let $typeName = data.field.typeName;
                        let $imageName = data.field.imageName;
                        // 使用Ajax发送数据
                        $.post("/type/updateType",{id:$id,typeName:$typeName,imageName:$imageName},function(d){
                            //关闭当前的iframe弹出层
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                            //d:服务器响应的数据
                            if(d.code == "0"){
                                //给出提示框
                                //close函数会销毁指定的弹出层的layer对象
                                //在这里当前iframe弹出层的layer对象被销毁，所以不能使用当前弹出层的layer对象做提示框。
                                //所以在这里使用父层的layer对象给出提示框
                                parent.layer.msg("修改成功");
                            }else{
                                layer.msg(d.code+": "+d.msg);
                            }
                    });
                });
            });
            });
        </script>
    </div>
</body>
</html>